
#navigator{
    /*    -fx-background-color: linear-gradient(to bottom right, #0A4D68, #00FFCA);*/
    /*-fx-background-color: #393E46;*/
    -fx-background-color: #1d5c6c;

}

/*.button{
    -fx-background-color: #21798c;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-style: none;
}
.button:hover{
    -fx-background-color: #196e80;
    -fx-cursor: hand;
}*/
.button{
    -fx-background-color: #21798c;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-style: none;
}
.button:hover{
    -fx-background-color: linear-gradient(to bottom, #21798c, #2d9bbb);
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
}


.label{
    -fx-background-radius: 20px;
}

.text-field {
    -fx-border-radius: 20px;
    -fx-border-color: gray;
    -fx-border-width: 2px;
    -fx-background-radius: 20px;
}
#home_page_info{
/*    -fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;*/
    -fx-background-color: #efefef
}

.label{
    -fx-font-family: Arial;
    -fx-font-size: 20px;
    -fx-font-color: green;
}

#main_page{
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 700;
    -fx-background-position: center center;
    -fx-background-color: linear-gradient(to bottom right, #DAF5FF, #B9E9FC);
}

#user_name_nav{
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


#login_card{
    -fx-background-color: linear-gradient(to bottom right, #DAF5FF, #B9E9FC);
}