
#navigator{
    /*    -fx-background-color: linear-gradient(to bottom right, #0A4D68, #00FFCA);*/
    /*-fx-background-color: #393E46;*/
    -fx-background-color: rgba(33, 121, 140, 0.6);
    /*-fx-background-color: #21798c ;*/

}

/*.button{
    -fx-background-color: #21798c;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-style: none;
}
.button:hover{
    -fx-background-color: #196e80;
    -fx-cursor: hand;
}*/
.button{
    -fx-background-color: #21798c;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-border-style: none;
}
.button:hover{
    -fx-background-color: linear-gradient(to bottom, #21798c, #2d9bbb);
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.4), 10, 0, 0, 0);
    -fx-cursor: hand;
}


.label{
    -fx-background-radius: 20px;
}

.text-field {
    -fx-background-color: linear-gradient(to bottom, #1f6d82, #288fad);
    -fx-background-radius: 30;
    -fx-padding: 5 10 5 10;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}
.text-field:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.4), 10, 0, 0, 0);

}
#home_page_info{
    -fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    /*    -fx-background-color: #efefef*/
}

.label{
    -fx-font-family: Arial;
    -fx-font-size: 16px;
    -fx-text-fill: white;

}

#main_page{
    -fx-background-repeat: stretch;
    -fx-background-size: 1000 700;
    -fx-background-position: center center;
    -fx-background-color: linear-gradient(to bottom right, #DAF5FF, #B9E9FC);
}

#user_name_nav{
    -fx-text-fill: white;
    -fx-font-weight: bold;

}


#login_card{
    -fx-background-color: linear-gradient(to bottom right, #DAF5FF, #B9E9FC);
}

#user_info{
    -fx-background-color: rgba(33, 121, 140, 0.3);
    -fx-background-radius: 30;
    -fx-effect: dropshadow(gaussian, rgba(33, 121, 140, 0.3), 10, 0, 0, 0);
    -fx-background-blur: 30px;
}

/*admin reports part*/
.label_admin{
    -fx-background-color: linear-gradient(to bottom right, #87C3FF, #4C9BFF);
    -fx-effect: dropshadow(gaussian, rgba(33, 121, 140, 0.3), 10, 0, 0, 0);
    -fx-background-blur: 30px;    
    -fx-background-radius: 30;
}